<template>
  <div class="margin-top-small">
    <section class="table-settings" v-if="showTableSettings">
      <div class="columns is-multiline">
        <div class="column is-narrow">
          <span class="subtitle is-6">Table settings</span>
        </div>

        <div class="column is-narrow">
          <b-field label="Per page">
            <b-select v-model="perPage">
              placeholder="Per page"
              size="is-small"
              expanded>
              <option value="5">5</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </b-select>
          </b-field>
        </div>
      </div>
    </section>
    <b-table :data="tableData" :selected.sync="selected" hoverable :per-page="perPage" paginated>
      <template slot-scope="props">
        <b-table-column field="Name" label="Name" sortable>{{ props.row.Name }}</b-table-column>
        <b-table-column field="Material" label="Material" sortable>{{ props.row.Material }}</b-table-column>
        <b-table-column field="Category" label="Category" sortable>{{ props.row.Category }}</b-table-column>
        <b-table-column field="Description" label="Description">{{ props.row.Description }}</b-table-column>
        <b-table-column field="Status" label="Status">{{ props.row.Status }}</b-table-column>
        <b-table-column field="ValidFrom" label="ValidFrom" sortable>{{ props.row.ValidFrom }}</b-table-column>
        <b-table-column field="ValidTo" label="ValidTo" sortable>{{ props.row.ValidTo }}</b-table-column>
        <b-table-column field="Weight" label="Weight" sortable>{{ props.row.Weight }}</b-table-column>
        <b-table-column field="Quantity" label="Quantity" sortable>{{ props.row.Quantity }}</b-table-column>
      </template>
    </b-table>
  </div>
</template>



<script>
import data from "@/assets/DataSet-Equipments.json";
import { mapState } from "vuex";

export default {
  data() {
    return {
      tableData: data,
      perPage: 15,
      selected: data[0]
    };
  },
  computed: {
    ...mapState({
      showTableSettings: state => state.user.showTableSettings
    })
  }
};
</script>
