<template>
    <div class="margin-top-small">
        <b-table
          :data="tableData"
          :selected.sync="selected"
          :opened-detailed="defaultOpenedDetails"
          detailed
          detail-key="FunctionalLocation"
          @details-open="(row, index) => $toast.open(`Expanded ${row.FunctionalLocation}`)"
          hoverable>
            <template slot-scope="props">
                <b-table-column
                    field="FunctionalLocation"
                    label="FunctionalLocation"
                    sortable
                >{{ props.row.FunctionalLocation }}</b-table-column>
                <b-table-column
                    field="Operational"
                    label="Operational"
                    sortable
                ><b-switch type="is-info" true-value="Yes" false-value="No"></b-switch></b-table-column>
                <b-table-column
                    field="Longitude"
                    label="Longitude"
                    sortable
                >{{ props.row.Longitude }}</b-table-column>
                <b-table-column field="Latitude" label="Latitude" sortable>{{ props.row.Latitude }}</b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
                <article class="media">
                    <figure class="media-left">
                        <p class="image">
                          <img src="@/assets/img/functional-location.gif" alt="functional-location">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ "@Id-128493" }} <br> {{ props.row.FunctionalLocation }}</strong>
                                <br>
                                <small>located at co-ordinates {{ props.row.Latitude }} x {{ props.row.Longitude }}</small>
                                <br>
                                <small>31m</small>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
                                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                            </p>
                        </div>
                    </div>
                </article>
            </template>
        </b-table>
    </div>
</template>



<script>
import data from "@/assets/DataSet-FunctionalLocations.json";
export default {
    data() {
        return {
            tableData: data,
            selected: data[0],
            defaultOpenedDetails: [1]
        }
    },
    methods: {
    toggle(row) {
        this.$refs.table.toggleDetails(row)
        }
    }
}
</script>
