<template>
    <div class="margin-top-small">
        <b-table :data="tableData" :selected.sync="selected" hoverable>
            <template slot-scope="props">
                <b-table-column
                    field="notificationType"
                    label="notificationType"
                    sortable
                >{{ props.row.notificationType }}</b-table-column>
                <b-table-column
                    field="notificationCode"
                    label="notificationCode"
                    sortable
                >{{ props.row.notificationCode }}</b-table-column>
                <b-table-column field="category" label="category" sortable>{{ props.row.category }}</b-table-column>
            </template>
        </b-table>
    </div>
</template>



<script>
import data from "@/assets/DataSet-NotificationTypes.json";
export default {
    data() {
        return {
            tableData: data,
            selected: data[0]
        };
    }
};
</script>