<template>
    <div class="margin-top-small">
        <b-table :data="tableData" :selected.sync="selected" hoverable>
            <template slot-scope="props">
                <b-table-column
                    field="notificationStatus"
                    label="notificationStatus"
                    sortable
                >{{ props.row.notificationStatus }}</b-table-column>
            </template>
        </b-table>
    </div>
</template>



<script>
import data from "@/assets/DataSet-NotificationStatus.json";
export default {
    data() {
        return {
            tableData: data,
            selected: data[0]
        };
    }
};
</script>
