<template>
  <section class="section">
    <div class="container">Completion Confirmations Table</div>
  </section>
</template>



<script>
import data from "@/assets/WorkNotifications.json";

export default {
  data() {
    return {
      tableData: data,
      selected: data[0]
    };
  }
};
</script>
