<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-4">Activities</h1>
      <div id="dashboardChart" class="column" style="width: 100%;height: 500px;"></div>
    </div>
  </section>
</template>


<script>
import echarts from "echarts";

export default {
  data() {
    return {
      myChart: null,
      option: {}
    };
  },
  mounted() {
    this.myChart = echarts.init(document.getElementById("dashboardChart"));
    this.option = {
      title: {
        text: ""
      },
      tooltip: {
        trigger: "axis"
      },
      legend: {
        data: ["Work Notifications", "Work Orders", "Completion Confirmations"]
      },
      color: ["#23d160", "#28b5ed", "#e32b07"],
      grid: {
        left: "3%",
        right: "4%",
        bottom: "3%",
        containLabel: true
      },
      toolbox: {
        feature: {
          saveAsImage: {
            title: "Save"
          }
        }
      },
      xAxis: {
        type: "category",
        boundaryGap: false,
        data: [
          "Leden",
          "Únor",
          "Březen",
          "Duben",
          "Květen",
          "Červen",
          "Červenec"
        ]
      },
      yAxis: [
        {
          type: "value",
          show: false
        },
        {
          type: "value",
          show: false
        },
        {
          type: "value",
          position: "left"
        }
      ],
      series: [
        {
          name: "Work Notifications",
          yAxisIndex: 0,
          type: "line",
          areaStyle: {},
          data: [3, 5, 4, 7, 2, 2, 4]
        },
        {
          name: "Work Orders",
          type: "line",
          yAxisIndex: 1,
          areaStyle: {},
          data: [2, 3, 3, 6, 1, 1, 4]
        },
        {
          name: "Completion Confirmations",
          type: "line",
          yAxisIndex: 2,
          // areaStyle: {},
          data: [3, 2, 2, 6, 4, 3, 2]
        }
      ]
    };

    this.myChart.setOption(this.option);
  }
};
</script>
