<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-3">Documentation</h1>
      <p>TODO Documentation content</p>

      <template>
        <section>
          <h1 class="title is-3">Processing Documentation</h1>
          <b-field grouped group-multiline>
            <div class="control">
              <b-checkbox v-model="showDetailIcon">Versions</b-checkbox>
            </div>
            <div v-for="(column, index) in columnsVisible" :key="index" class="control">
              <b-checkbox v-model="column.display">{{ column.title }}</b-checkbox>
            </div>
          </b-field>

          <b-table
            :data="data"
            ref="table"
            detailed
            hoverable
            custom-detail-row
            :opened-detailed="['Board Games']"
            :default-sort="['name', 'asc']"
            detail-key="name"
            @details-open="(row, index) => $toast.open(`Expanded ${row.name}`)"
            :show-detail-icon="showDetailIcon"
          >
            <template slot-scope="props">
              <b-table-column
                field="name"
                :visible="columnsVisible['name'].display"
                :label="columnsVisible['name'].title"
                width="300"
                sortable
              >
                <template v-if="showDetailIcon">{{ props.row.name }}</template>
                <template v-else>
                  <a @click="toggle(props.row)">{{ props.row.name }}</a>
                </template>
              </b-table-column>

              <b-table-column
                field="sold"
                :visible="columnsVisible['sold'].display"
                :label="columnsVisible['sold'].title"
                sortable
                centered
              >{{ props.row.sold }}</b-table-column>

              <b-table-column
                field="available"
                :visible="columnsVisible['available'].display"
                :label="columnsVisible['available'].title"
                sortable
                centered
              >{{ props.row.available }}</b-table-column>

              <b-table-column
                :visible="columnsVisible['cleared'].display"
                :label="columnsVisible['cleared'].title"
                centered
              >
                <span
                  :class="
                            [
                                'tag',
                                {'is-danger': props.row.sold / props.row.available <= 0.45},
                                {'is-success': props.row.sold / props.row.available > 0.45}
                            ]"
                >{{ Math.round((props.row.sold / props.row.available) * 100) }}%</span>
              </b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
              <tr v-for="(item, i) in props.row.items" :key="i">
                <td v-if="showDetailIcon"></td>
                <td v-show="columnsVisible['name'].display">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a
                    href="https://cdn.autodoc.de/uploads/man_pdf/mercedes/e-w210/motor-oil-and-an-oil-filter/EN-How-to-replace-motor-oil-and-an-oil-filter-on-Mercedes-Benz-E-Class-W210.pdf"
                    target="_blank"
                  >
                    <i class="material-icons detail-icon">assignment</i>
                    {{ item.name }}
                  </a>
                </td>
                <td
                  v-show="columnsVisible['sold'].display"
                  class="has-text-centered"
                >{{ item.sold }}</td>
                <td
                  v-show="columnsVisible['available'].display"
                  class="has-text-centered"
                >{{ item.available }}</td>
                <td v-show="columnsVisible['cleared'].display" class="has-text-centered">
                  <span
                    :class="
                            [
                                'tag',
                                {'is-danger': item.sold / item.available <= 0.45},
                                {'is-success': item.sold / item.available > 0.45}
                            ]"
                  >{{ Math.round((item.sold / item.available) * 100) }}%</span>
                </td>
              </tr>
            </template>
          </b-table>
        </section>
      </template>
    </div>
  </section>
</template>
  </div>
  </section>
</template>



<script>
export default {
  data() {
    return {
      data: [
        {
          name: "Powertrain Maintenance",
          sold: 131,
          available: 301,
          items: [
            {
              name: "docs version 1",
              sold: 57,
              available: 100
            },
            {
              name: "docs version 2",
              sold: 23,
              available: 84
            },
            {
              name: "docs version 3",
              sold: 37,
              available: 61
            },
            {
              name: "docs version 4",
              sold: 14,
              available: 56
            }
          ]
        },
        {
          name: "Fanuc Maintenance",
          sold: 88,
          available: 167,
          items: [
            {
              name: "docs version 1",
              sold: 31,
              available: 38
            },
            {
              name: "docs version 2",
              sold: 23,
              available: 29
            },
            {
              name: "docs version 3",
              sold: 20,
              available: 44
            },
            {
              name: "docs version 4",
              sold: 14,
              available: 56
            }
          ]
        },
        {
          name: "Change Oil Maintenance",
          sold: 434,
          available: 721,
          items: [
            {
              name: "docs version 1",
              sold: 101,
              available: 187
            },
            {
              name: "docs version 2",
              sold: 85,
              available: 156
            },
            {
              name: "docs version 3",
              sold: 78,
              available: 131
            },
            {
              name: "docs version 4",
              sold: 73,
              available: 98
            },
            {
              name: "docs version 5",
              sold: 51,
              available: 81
            },
            {
              name: "docs version 6",
              sold: 46,
              available: 68
            }
          ]
        }
      ],
      columnsVisible: {
        name: { title: "Name", display: true },
        sold: { title: "Unsuccessful Usages", display: true },
        available: { title: "All Usages", display: true },
        cleared: { title: "Success Rate", display: true }
      },
      showDetailIcon: true
    };
  },
  methods: {
    toggle(row) {
      this.$refs.table.toggleDetails(row);
    }
  }
};
</script>


<style lang="scss" scoped>
.detail-icon {
  position: relative;
  top: 0.45rem;
  margin-right: 0.3rem;
}
</style>
