<template>
    <section class="section has-text-centered homeSection">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <h1 class="title is-2">Home</h1>
                    <router-link to="/login" tag="button" class="button is-success">Login</router-link>
                    <div class="box">
                        <h2 class="subtitle is-3">This is homepage ...</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni at aut labore ipsam earum nesciunt illum officiis laudantium, dicta doloremque enim optio voluptatem, error accusantium, adipisci quidem dolores sed? Et.
                            A officiis quo natus explicabo nesciunt voluptatum, nobis quibusdam? Fugiat, a! Vel omnis animi blanditiis non molestias dolor officiis dolorem obcaecati dolorum, nulla numquam ipsa necessitatibus natus quod, aliquam saepe!
                            Maxime assumenda sit modi voluptatem! Facere deleniti expedita nam, ut dolorum quibusdam! Voluptatem provident animi odio amet reprehenderit numquam deleniti doloremque eveniet consequatur dolorum id consectetur, adipisci, vel, eum dicta?
                            Impedit, non est. Natus harum voluptas doloribus eaque nemo, sed atque quidem obcaecati, at mollitia maiores molestiae deleniti, delectus dolore totam saepe blanditiis laboriosam illo voluptatibus omnis. Quisquam, quod cupiditate.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi architecto impedit totam, sed facere voluptatum eveniet magnam recusandae laudantium ea, sit aspernatur. Quasi quisquam vel assumenda quos autem harum perspiciatis?
                            Vitae qui recusandae, praesentium consequuntur iste nihil quae velit distinctio. Maxime voluptate asperiores enim perferendis? Molestias dolore earum nemo unde laboriosam perferendis nisi numquam aperiam exercitationem repellat reiciendis, provident pariatur.
                            Ipsum soluta ipsam sunt labore placeat dicta repellendus suscipit officia quisquam minima possimus obcaecati non praesentium qui, delectus iste? Earum porro totam dignissimos nihil voluptas unde quae impedit a quaerat?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptate consectetur debitis recusandae inventore hic, laboriosam consequatur! Eveniet quaerat explicabo consequatur autem nostrum accusamus nulla earum distinctio nam, placeat harum.
                            Deleniti numquam voluptatibus tempore reiciendis. Dolorum animi vitae, est dicta culpa reiciendis recusandae autem magni tempora laudantium fugit? Veniam perferendis soluta asperiores consequatur cum aliquam! Mollitia cumque in cum modi.
                            Ipsam consequatur facere deleniti. Provident corrupti impedit sunt, dicta nihil facere praesentium quod voluptate porro consectetur delectus fugit reiciendis tempora laboriosam necessitatibus velit, asperiores voluptates pariatur doloribus repellendus. Natus, nihil.
                            Accusamus est, nostrum dicta mollitia molestiae voluptatibus provident sit rem facilis. Distinctio perspiciatis necessitatibus, possimus consequatur enim voluptates eum itaque corporis eos maxime facilis sapiente nihil aliquid totam debitis magnam?
                            Cumque sunt aliquid, cupiditate earum rerum quas laboriosam illum voluptas ratione ea autem et hic provident aut adipisci laborum recusandae asperiores. Nesciunt nemo libero alias blanditiis voluptates tempore et consequuntur?
                            Excepturi tenetur fugiat non quod exercitationem soluta officiis laborum obcaecati harum earum nisi explicabo, ipsa perferendis! Eum, quasi reiciendis. Quos incidunt sint blanditiis nemo fugit consectetur veniam aut in autem.
                            Culpa quibusdam maxime provident fuga illo. Cumque atque accusantium cupiditate numquam corporis tempora ipsum praesentium totam nulla quidem sit, earum nihil nostrum est in a voluptate debitis labore sint eligendi.
                            Alias ratione blanditiis maxime rem fugit culpa. Nemo quasi quas illo voluptatum quaerat. Eius fuga beatae quia quas. Dignissimos dolorum alias sit ipsum itaque eligendi a debitis nostrum excepturi iste.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>


<style lang="scss" scoped>
.homeSection {
    color: white;
    background-image: url("http://www.kabu-load.net/data/out/19/IMG_535541.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

    .title {
        color: white;
    }
}
</style>