<template>
  <div>
    <b-tabs type="is-boxed" v-model="activeTab">
      <b-tab-item label="Equipment" icon="wrench">
        <Equipment />
      </b-tab-item>
      <b-tab-item label="Functional Locations" icon="compass">
        <FunctionalLocations />
      </b-tab-item>
      <b-tab-item label="Notification Status" icon="calendar-check">
        <NotificationStatus />
      </b-tab-item>
      <b-tab-item label="Notification Type" icon="question-circle">
        <NotificationType />
      </b-tab-item>
    </b-tabs>
  </div>
</template>


<script>
import Equipment from "@/components/knowledge/Equipment.vue";
import FunctionalLocations from "@/components/knowledge/FunctionalLocations.vue";
import NotificationStatus from "@/components/knowledge/NotificationStatus.vue";
import NotificationType from "@/components/knowledge/NotificationTypes.vue";
export default {
  data() {
    return {
      activeTab: 0
    };
  },
  components: {
    Equipment,
    FunctionalLocations,
    NotificationStatus,
    NotificationType
  }
};
</script>

<style lang="scss" scoped>
</style>