<template>
    <section class="section has-text-centered loginSection">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-6-tablet">
                    <h1 class="title is-3 is-primary has-text-white">Login</h1>
                    <h2
                        class="subtitle is-5 is-primary has-text-white"
                    >Please login to continue</h2>
                    <div class="box tansparentLoginBox is-grey">
                        <b-field>
                            <template slot="label">
                                <span class="has-text-white">Username</span>
                            </template>
                            <b-input
                                id="username"
				value="user@skoda.com"
                                placeholder="Username"
                                type="search"
                                icon="user-tie"
                            ></b-input>
                        </b-field>
                        <b-field>
                            <template slot="label">
                                <span class="has-text-white">Password</span>
                            </template>
                            <b-input
                                id="password"
				value="somepassword"
                                placeholder="Password"
                                type="password"
                                icon="key"
                                password-reveal
                            ></b-input>
                        </b-field>
                        <div class="field">
                            <b-switch id="remember" :value="true" type="is-success">Remember me</b-switch>
                        </div>
                        <b-field>
                            <button
                                class="button is-primary is-fullwidth"
                                @click="toggleLogin()"
                            >{{ $store.state.user.isLogged ? "Logout" : "Login" }}</button>
                        </b-field>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    methods: {
        toggleLogin() {
            this.$store
                .dispatch("user/loginUser", !this.$store.state.user.isLogged)
                .then(() => {
                    this.$router.push("/dashboard");
                })
                .catch(() => {
                    this.$router.push("/login");
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.tansparentLoginBox {
    background-color: #00000061;
    color: white;
}

.loginSection {
    background-image: url("http://www.kabu-load.net/data/out/19/IMG_535541.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
</style>
