<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-3">Preventive Maintenance</h1>
      <p>TODO Preventive Maintenance content</p>
    </div>
  </section>
</template>
