<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-3">Create New Notification</h1>
      <div class="block">
        <!--<button class="button" @click="activeStep = 1">Reset</button>-->
      </div>
      <div class="block">
        <b-switch v-model="showSocial">Show Multimedia Step</b-switch>
        <!--
            <b-switch v-model="isAnimated"> Animated </b-switch>
            <b-switch v-model="isStepsClickable"> Clickable Marker </b-switch>
            <b-switch v-model="hasNavigation"> Navigation Buttons </b-switch>
            <b-switch v-model="isProfileSuccess"> Set <code>is-success</code> for profile </b-switch>
        -->
      </div>
      <b-steps
        size="is-small"
        v-model="activeStep"
        :animated="isAnimated"
        :has-navigation="hasNavigation"
      >
        <b-step-item label="Notification Type" :clickable="isStepsClickable">
          <br />
          <br />
          <b-field>
            <b-input
              placeholder="Notification Title (custom validation for only uppercase)"
              type="text"
              required
              validation-message="Only uppercase is allowed"
              pattern="[A-Z\s]*"
            ></b-input>
          </b-field>
          <b-field>
            <b-autocomplete
              v-model="name"
              :data="filteredDataArray"
              placeholder="Notification Type e.g. Malfunction report"
              field="notificationType"
              @select="option => selected = option"
            >
              <template slot="empty">No results found</template>
            </b-autocomplete>
          </b-field>
        </b-step-item>

        <b-step-item
          label="General Information"
          :clickable="isStepsClickable"
          :type="{'is-success': isProfileSuccess}"
        >
          <b-field label="Select Equipment">
            <b-autocomplete
              v-model="nameEquipment"
              :data="filteredEquipmentData"
              placeholder="Equipment e.g. Knob"
              field="Name"
              @select="option => selected = option"
            >
              <template slot="empty">No results found</template>
            </b-autocomplete>
          </b-field>

          <b-field label="Select Due Date">
            <b-datepicker v-model="date" :first-day-of-week="1" placeholder="Click to select...">
              <button class="button is-primary" @click="date = new Date()">
                <b-icon icon="calendar-today"></b-icon>
                <span>Today</span>
              </button>

              <button class="button is-danger" @click="date = null">
                <b-icon icon="account"></b-icon>
                <span>Clear</span>
              </button>
            </b-datepicker>
          </b-field>
          <b-field label="Select Due Time">
            <b-clockpicker
              placeholder="Type or select a date..."
              icon="clock"
              :hour-format="format"
              editable
            ></b-clockpicker>
          </b-field>

          <b-field label="Description">
            <b-input maxlength="300" type="textarea"></b-input>
          </b-field>
          <b-field label="Work   Center">
            <b-select placeholder="Select Work Center">
              <optgroup label="Main Work Center">
                <option value="WrkCenter_1">WrkCenter 1</option>
                <option value="WrkCenter_2">WrkCenter 2</option>
                <option value="WrkCenter_3">WrkCenter 3</option>
              </optgroup>
              <optgroup label="Malfunction Work Center">
                <option value="Malfunction_1">Malfunction 1</option>
                <option value="Malfunction_2">Malfunction 2</option>
              </optgroup>
              <optgroup label="Maintenance Work Center">
                <option value="Standard_Maintenance">Standard Maintenance</option>
                <option value="Maintenance_External">Maintenance External</option>
              </optgroup>
            </b-select>
          </b-field>
        </b-step-item>

        <b-step-item :visible="showSocial" label="Multimedia" :clickable="isStepsClickable">
          <b-field label="Upload Photos or Videos">
            <b-upload v-model="dropFiles" multiple drag-drop>
              <section class="section">
                <div class="content has-text-centered">
                  <p>
                    <b-icon icon="upload" size="is-large"></b-icon>
                  </p>
                  <p>Drop your files here or click to upload</p>
                </div>
              </section>
            </b-upload>
          </b-field>

          <div class="tags">
            <span v-for="(file, index) in dropFiles" :key="index" class="tag is-primary">
              {{file.name}}
              <button
                class="delete is-small"
                type="button"
                @click="deleteDropFile(index)"
              ></button>
            </span>
          </div>
          <b-field label="Add Comments">
            <b-input maxlength="300" type="textarea"></b-input>
          </b-field>
        </b-step-item>

        <b-step-item label="Tasks" :clickable="isStepsClickable" disabled>
          <b-field label="Enter Maintenance Tasks">
            <b-taginput
              v-model="tags"
              :data="filteredTags"
              autocomplete
              :allow-new="allowNew"
              field="task"
              icon="tasks"
              placeholder="Add a task e.g. Change Gears"
              @typing="getFilteredTags"
            ></b-taginput>
          </b-field>
          <!--<pre style="max-height: 400px"><b>Selected Tasks:</b>{{ tags }}</pre>-->
        </b-step-item>
      </b-steps>
    </div>
  </section>
</template>

<script>
import data_equipment from "@/assets/DataSet-Equipments.json";
import data_maintenance from "@/assets/DataSet-MaintenanceTasks.json";

export default {
  data() {
    return {
      activeStep: 0,
      showSocial: false,
      isAnimated: true,
      hasNavigation: true,
      isStepsClickable: true,
      isProfileSuccess: false,
      data: [
        {
          notificationType: "Maintenance request",
          notificationCode: "M1",
          category: "Maintenance Notification"
        },
        {
          notificationType: "Malfunction report",
          notificationCode: "M2",
          category: "Maintenance notification"
        },
        {
          notificationType: "Activity report",
          notificationCode: "M3",
          category: "Maintenance notification"
        },
        {
          notificationType: "Problem notification",
          notificationCode: "S1",
          category: "Service notification"
        },
        {
          notificationType: "Service request",
          notificationCode: "S2",
          category: "Service notification"
        },
        {
          notificationType: "Activity report",
          notificationCode: "S3",
          category: "Service notification"
        },
        {
          notificationType: "Customer complaint",
          notificationCode: "Q1",
          category: "Quality notification"
        },
        {
          notificationType: "Complaint against vendor",
          notificationCode: "Q2",
          category: "Quality notification"
        },
        {
          notificationType: "Internal problem notification",
          notificationCode: "Q3",
          category: "Quality notification"
        },
        {
          notificationType: "Feedback notification",
          notificationCode: "$$",
          category: "Quality notification"
        },
        {
          notificationType: "Claim (internal)",
          notificationCode: "C1",
          category: "Claim"
        },
        {
          notificationType: "Claim (external)",
          notificationCode: "C2",
          category: "Claim"
        },
        {
          notificationType: "General notification",
          notificationCode: "G0",
          category: "General notification"
        }
      ],
      name: "",
      selected: null,
      dropFiles: [],
      nameEquipment: "",
      isAmPm: false,
      date: new Date(),
      equipmentData: data_equipment,
      filteredTags: data_maintenance,
      isSelectOnly: false,
      tags: [],
      allowNew: false
    };
  },

  methods: {
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1);
    },
    getFilteredTags(text) {
      this.filteredTags = data_maintenance.filter(option => {
        return (
          option.task
            .toString()
            .toLowerCase()
            .indexOf(text.toLowerCase()) >= 0
        );
      });
    }
  },

  computed: {
    filteredDataArray() {
      return this.data.filter(option => {
        return (
          option.notificationType
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    },
    filteredEquipmentData() {
      return this.equipmentData.filter(option => {
        return (
          option.Name.toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    },
    format() {
      return this.isAmPm ? "12" : "24";
    }
  }
};
</script>
