<template>
  <section class="section">
    <div class="">
      <section class="table-settings" v-if="showTableSettings">
        <div class="columns is-multiline">
          <div class="column is-narrow">
            <span class="subtitle is-6">Table settings</span>
          </div>

          <div class="column is-narrow">
            <b-field label="Per page">
              <b-select v-model="perPage">
                placeholder="Per page"
                size="is-small"
                expanded>
                <option value="5">5</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
              </b-select>
            </b-field>
          </div>
        </div>
      </section>

      <div class="hide-tabs">
        <b-tabs v-model="activeTab">
          <b-tab-item label="Table">
            <b-table
              :data="tableData"
              :selected.sync="selected"
              :per-page="perPage"
              paginated
              detailed
            >
              <template slot-scope="props">
                <!-- <b-table-column field="Id" label="Id" sortable>{{ props.row.Id.$oid }}</b-table-column> -->
                <b-table-column field="Name" label="Name" sortable>
                  {{
                  props.row.Name
                  }}
                </b-table-column>
                <b-table-column field="Storage" label="Storage" numeric sortable>
                  {{
                  props.row.Storage
                  }}
                </b-table-column>
                <b-table-column field="PricePerUnit" label="Price" sortable>
                  {{
                  props.row.PricePerUnit
                  }}
                </b-table-column>
                <!-- <b-table-column field="Description" label="Description" sortable>
                                {{
                                props.row.Description
                                }}
                </b-table-column>-->
                <!-- <b-table-column field="Photo" label="Photo" sortable>
                                <img :src="props.row.Photo">
                </b-table-column>-->
                <b-table-column field="Quantity" label="Quantity">
                  <div class="field is-grouped is-grouped-multiline">
                    <div
                      class="control"
                      v-for="(quantity, i) in props.row.Quantity"
                      :key="i + quantity.Department"
                    >
                      <div class="tags has-addons">
                        <span class="tag is-dark">{{quantity.Department}}</span>
                        <span class="tag is-success">{{ quantity.Count }}</span>
                      </div>
                    </div>
                  </div>
                </b-table-column>
                <b-table-column label="Reserve" centered>
                  <i class="material-icons editButton" @click="activateTab(1)">edit</i>
                </b-table-column>
              </template>
              <template slot="detail" slot-scope="props">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-128x128">
                      <img :src="props.row.Photo" />
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{ props.row.Name }}</strong>
                        <br />
                        <strong>id:</strong>
                        {{ props.row.Id.$oid}}
                        <br />
                        {{props.row.Description}}
                      </p>
                    </div>
                  </div>
                </article>
              </template>
            </b-table>
          </b-tab-item>

          <b-tab-item label="Edit">
            <button class="button is-danger" @click="activateTab(0)">
              <i class="material-icons has-text-white">arrow_back</i> back
            </button>
            <br />
            <br />
            <template>
              <section>
                <div class="columns">
                  <div class="column box is-half-desktop is-offset-3">
                    <h2 class="subtitle is-5" v-if="selected">
                      <strong>Item:</strong>
                      {{ selected.Name }}
                    </h2>

                    <b-field label="Amount" v-if="selected">
                      <b-input placeholder="Amount" type="number"></b-input>
                    </b-field>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-4 is-offset-4">
                    <button class="button is-primary is-fullwidth" @click="activateTab(0)">Reserve</button>
                  </div>
                </div>
              </section>
            </template>
          </b-tab-item>
        </b-tabs>
      </div>
    </div>
  </section>
</template>


<script>
import data from "@/assets/SpareParts.json";
import { mapState } from "vuex";

export default {
  data() {
    return {
      tableData: data,
      perPage: 15,
      selected: data[0],
      activeTab: 0
    };
  },
  methods: {
    activateTab(i) {
      if (i == 1 && !this.selected) return;
      this.activeTab = i;
    }
  },
  computed: {
    ...mapState({
      showTableSettings: state => state.user.showTableSettings
    })
  }
};
</script>


<style lang="scss">
.b-tabs .tabs {
  // display: none !important;
}

.editButton {
  font-size: 1em;
  cursor: pointer;
  padding: 4px;
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.384);

  &:hover {
    background: #0000001f;
    border-radius: 50%;
    color: black;
  }
}
</style>
