<template>
  <section class="section">
    <div class="">
      <b-tabs v-model="activeTab" type="is-boxed">
        <b-tab-item label="Map">
          <Map />
        </b-tab-item>

        <b-tab-item label="Tree">
          <tree />
        </b-tab-item>

        <b-tab-item label="TreeSelect">
          <tree-select :json="json" />
        </b-tab-item>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import Tree from "../components/Tree/Tree";
import Map from "../components/Map/Map";
import TreeSelect from "../components/TreeSelect";

export default {
  data() {
    return {
      activeTab: 0,
      json: {
        object: {
          a: "String",
          b: [1, 2, 3],
          c: 55,
          e: false
        },
        array: [1, 2, 3, -4, -3, -2],
        boolean: false,
        null: null,
        number: 21,
        string: "Hi liquor-tree user!"
      }
    };
  },
  components: {
    Map,
    TreeSelect,
    Tree
  }
};
</script>

