<template>
    <div>
        <div class="hide-tabs">
        <b-tabs v-model="activeTab">
            <b-tab-item label="Table">

                <section class="table-settings" v-if="showTableSettings">
                    <div class="columns is-multiline">
                        <div class="column is-narrow">
                            <span class="subtitle is-6">Table settings</span>
                        </div>

                        <div class="column is-narrow">
                            <b-field label="Per page">
                                <b-select
                                v-model="perPage">
                                    placeholder="Per page"
                                    size="is-small"
                                    expanded>
                                    <option value="5">5</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </b-select>
                            </b-field>
                        </div>

                    </div>
                </section>


                <b-table
                    :data="filteredTableData"
                    :selected.sync="selected"
                    hoverable
                    paginated
                    :per-page="perPage"
                >
                    <template slot-scope="props">
                        <b-table-column field="name" label="Full Name" sortable>
                            {{
                            props.row.name
                            }}
                        </b-table-column>
                        <b-table-column field="age" label="Age" numeric sortable>
                            {{
                            props.row.age
                            }}
                        </b-table-column>
                        <b-table-column field="company" label="Company" sortable>
                            {{
                            props.row.company
                            }}
                        </b-table-column>
                        <b-table-column field="email" label="E-mail" sortable>
                            {{
                            props.row.email
                            }}
                        </b-table-column>
                        <b-table-column field="balance" label="Salary" sortable>
                            {{
                            props.row.balance
                            }}
                        </b-table-column>
                        <b-table-column field="isActive" label="Active" sortable>
                            <div class="field">
                                <b-switch v-model="props.row.isActive" type="is-info"></b-switch>
                            </div>
                        </b-table-column>
                        <b-table-column field="tags" label="Tags">
                            <div class="tags">
                                <span
                                    class="tag is-success is-rounded"
                                    v-for="(tag,i) in props.row.tags"
                                    :key="i + tag"
                                >{{ tag }}</span>
                            </div>
                        </b-table-column>
                        <b-table-column label="Edit" centered>
                            <i class="material-icons editButton" @click="activateTab(1)">edit</i>
                        </b-table-column>
                    </template>
                </b-table>
            </b-tab-item>

            <b-tab-item label="Edit">
                <button class="button is-danger" @click="activateTab(0)">
                    <i class="material-icons has-text-white">arrow_back</i> back
                </button>
                <br>
                <br>
                <template>
                    <section>
                        <b-field label="Full Name" v-if="selected">
                            <b-input placeholder="Name" v-model="selected.name"></b-input>
                        </b-field>

                        <b-field label="Age" v-if="selected">
                            <b-input placeholder="Age" v-model="selected.age"></b-input>
                        </b-field>
                        <b-field label="Company" v-if="selected">
                            <b-input placeholder="Company" v-model="selected.company"></b-input>
                        </b-field>
                        <b-field label="E-mail" v-if="selected">
                            <b-input placeholder="E-mail" v-model="selected.email"></b-input>
                        </b-field>
                        <b-field label="Balance" v-if="selected">
                            <b-input placeholder="Balance" v-model="selected.balance"></b-input>
                        </b-field>
                        <b-field label="Active" v-if="selected">
                            <div class="field">
                                <b-switch v-model="selected.isActive" type="is-info">Active</b-switch>
                            </div>
                        </b-field>
                        <div class="columns">
                            <div class="column is-4 is-offset-4">
                                <button
                                    class="button is-primary is-fullwidth"
                                    @click="activateTab(0)"
                                >Done</button>
                            </div>
                        </div>
                    </section>
                </template>
            </b-tab-item>
        </b-tabs>
        </div>
    </div>
</template>


<script>
import data from "@/assets/data.json";
import { mapState } from 'vuex'

export default {
    data() {
        return {
            tableData: data,
            perPage: 15,
            selected: data[0],
            activeTab: 0
        };
    },
    methods: {
        activateTab(i) {
            if (i == 1 && !this.selected) return;
            this.activeTab = i;
        }
    },
    computed: {
         ...mapState({
            showTableSettings: state => state.user.showTableSettings
        }),
        search: {
            get () {
                return this.$store.state.search
            },
            set (value) {
                this.$store.dispatch('setSearch', value)
            }
        },
        filteredTableData() {
            if(!this.search) {
                return this.tableData
            }

            // Object.entries(this.tableData[1]).forEach(t => {
            //     let q = String(t[1])
            //     console.log(typeof q + " ... " + q)
            //     return this.tableData
            //     })

            const reg = new RegExp(this.search, 'i')

            return this.tableData.filter(dataRow => {

                let contains = false
                Object.values(dataRow).forEach(value => {
                    let stringValue = String(value)
                    if(reg.test(stringValue)) {
                        // console.log(`name: ${dataRow.name}, value: ${stringValue}`)
                        contains = true
                        return
                    }
                })
                return contains
            })

                // if( new RegExp(this.search, 'i').test(d.name)) return d

        }
    }
};
</script>


<style lang="scss" scoped>

.editButton {
    font-size: 1em;
    cursor: pointer;
    padding: 4px;
    transition: all 0.3s;
    color: rgba(0, 0, 0, 0.384);

    &:hover {
        background: #0000001f;
        border-radius: 50%;
        color: black;
    }
}
</style>
