<template>
  <section class="section">
    <div class="">
      <section class="table-settings" v-if="showTableSettings">
        <div class="columns is-multiline">
          <div class="column is-narrow">
            <span class="subtitle is-6">Table settings</span>
          </div>
          <div class="column is-narrow">
            <b-field label="Per page">
              <b-select v-model="perPage">
                placeholder="Per page"
                size="is-small"
                expanded>
                <option value="5">5</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
              </b-select>
            </b-field>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <div class="field">
                <b-switch
                  size="is-small"
                  type="is-info"
                  v-for="(column, index) in columnsVisible"
                  :key="index"
                  v-model="columnsVisible[column.title].display"
                >{{ column.title }}</b-switch>
              </div>
            </div>
          </div>
        </div>
      </section>

      <b-table
        :data="tableData"
        :selected.sync="selected"
        hoverable
        paginated
        :per-page="perPage"
        detailed
      >
        <template slot-scope="props">
          <b-table-column
            :visible="columnsVisible.Id.display"
            field="Id"
            label="Id"
            sortable
          >{{ props.row.Id.$oid }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.Type.display"
            field="Type"
            label="Type"
            sortable
          >{{ props.row.Type }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.Equipment.display"
            field="Equipment"
            label="Equipment"
            sortable
          >{{ props.row.Equipment }}</b-table-column>
          <!-- <b-table-column :visible="columnsVisible.Tasks.display" field="Tasks" label="Tasks" sortable>{{ props.row.Tasks }}</b-table-column> -->
          <b-table-column
            :visible="columnsVisible.TotalPrice.display"
            field="TotalPrice"
            label="Total Price"
            sortable
          >{{ props.row.TotalPrice }}</b-table-column>
          <!-- <b-table-column :visible="columnsVisible.Comment.display" field="Comment" label="Comment" sortable>{{ props.row.Comment }}</b-table-column> -->
          <b-table-column
            :visible="columnsVisible.Priority.display"
            field="Priority"
            label="Priority"
            sortable
          >
            <span :class="props.row.Priority.cssLabel" class="tag">{{ props.row.Priority.name }}</span>
          </b-table-column>
          <!-- <b-table-column :visible="columnsVisible.Video.display" field="Video" label="Video">{{ props.row.Video }}</b-table-column> -->
          <b-table-column
            :visible="columnsVisible.StartDate.display"
            field="StartDate"
            label="StartDate"
            sortable
          >
            <span class="tag is-success">{{ new Date(props.row.StartDate).toLocaleDateString() }}</span>
          </b-table-column>
          <b-table-column
            :visible="columnsVisible.StartTime.display"
            field="StartTime"
            label="StartTime"
            sortable
          >{{ props.row.StartTime }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.EndDate.display"
            field="EndDate"
            label="EndDate"
            sortable
          >
            <span class="tag is-danger">{{ new Date(props.row.EndDate).toLocaleDateString() }}</span>
          </b-table-column>
          <b-table-column
            :visible="columnsVisible.EndTime.display"
            field="EndTime"
            label="EndTime"
            sortable
          >{{ props.row.EndTime }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.Action.display"
            field="Action"
            label="Action"
            sortable
          >{{ props.row.Action }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.WorkCenter.display"
            field="WorkCenter"
            label="WorkCenter"
            sortable
          >{{ props.row.WorkCenter }}</b-table-column>
        </template>

        <template slot="detail" slot-scope="props">
          <div class="columns">
            <div class="column">
              <div class="content workOrderDetail">
                <p>
                  <strong>Item:</strong>
                  {{ props.row.Equipment }}&nbsp;&nbsp;(id&nbsp;{{ props.row.Id.$oid }})
                  <br />
                  <strong>Type:</strong>
                  {{ props.row.Type }}
                  <br />
                  <strong>From:</strong>
                  {{ props.row.StartDate }},
                  <strong></strong>
                  {{ props.row.StartTime }}
                  <br />
                  <strong>To:</strong>
                  {{ props.row.EndDate }},
                  <strong></strong>
                  {{ props.row.EndTime }}
                  <br />
                  <strong>Comment:</strong>
                  {{ props.row.Comment }}
                </p>
              </div>
            </div>
            <div class="column is-narrow">
              <video-player :options="videoOptions" class="video" />
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column" v-for="(task,i) in props.row.Tasks" :key="i">
              <b-message
                :title="`${task.name} (${task.dueDate})`"
                aria-close-label="Close message"
                type="is-success"
              >{{ task.Description }}</b-message>
            </div>
          </div>
        </template>
      </b-table>
    </div>
  </section>
</template>



<script>
import data from "@/assets/WorkOrders.json";
import VideoPlayer from "@/components/VideoPlayer.vue";
import { mapState } from "vuex";

export default {
  data() {
    return {
      tableData: data,
      perPage: 15,
      selected: data[0],
      columnsVisible: {
        Id: { title: "Id", display: false },
        Type: { title: "Type", display: true },
        Equipment: { title: "Equipment", display: true },
        // Tasks: { title: 'Tasks', display: false },
        TotalPrice: { title: "TotalPrice", display: true },
        // Comment: { title: 'Comment', display: false },
        Priority: { title: "Priority", display: true },
        // Video: { title: 'Video', display: false },
        StartDate: { title: "StartDate", display: true },
        StartTime: { title: "StartTime", display: false },
        EndDate: { title: "EndDate", display: true },
        EndTime: { title: "EndTime", display: false },
        Action: { title: "Action", display: true },
        WorkCenter: { title: "WorkCenter", display: true }
      },
      videoOptions: {
        autoplay: false,
        controls: true,
        height: 230,
        sources: [
          {
            src: "http://vjs.zencdn.net/v/oceans.mp4",
            type: "video/mp4"
          }
        ]
      }
    };
  },
  computed: {
    ...mapState({
      showTableSettings: state => state.user.showTableSettings
    })
  },
  components: {
    VideoPlayer
  }
};
</script>


<style>
.workOrderDetail {
  line-height: 1.7rem;
}
</style>
