<template>
  <section class="section">
    <div class="">
      <section class="table-settings" v-if="showTableSettings">
        <div class="columns is-multiline">
          <div class="column is-narrow">
            <span class="subtitle is-6">Table settings</span>
          </div>
          <div class="column is-narrow">
            <b-field label="Per page">
              <b-select v-model="perPage">
                placeholder="Per page"
                size="is-small"
                expanded>
                <option value="5">5</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
              </b-select>
            </b-field>
          </div>
          <div class="column is-narrow">
            <div class="box">
              <div class="field">
                <b-switch
                  size="is-small"
                  type="is-info"
                  v-for="(column, index) in columnsVisible"
                  :key="index"
                  v-model="columnsVisible[column.title].display"
                >{{ column.title }}</b-switch>
              </div>
            </div>
          </div>
        </div>
      </section>

      <b-table :data="tableData" :selected.sync="selected" hoverable paginated :per-page="perPage">
        <template slot-scope="props">
          <b-table-column
            field="Name"
            label="Name"
            :visible="columnsVisible.Name.display"
            sortable
          >{{ props.row.Name }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.NotificationType.display"
            field="NotificationType"
            label="NotificationType"
            sortable
          >{{ props.row.NotificationType }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.FunctionalLocation.display"
            field="FunctionalLocation"
            label="FunctionalLocation"
            sortable
          >{{ props.row.FunctionalLocation }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.NotificationStatus.display"
            field="NotificationStatus"
            label="NotificationStatus"
            sortable
          >{{ props.row.NotificationStatus }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.Equipment.display"
            field="Equipment"
            label="Equipment"
            sortable
          >{{ props.row.Equipment }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.WorkCenter.display"
            field="WorkCenter"
            label="WorkCenter"
          >{{ props.row.WorkCenter }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.Description.display"
            field="Description"
            label="Description"
          >{{ props.row.Description }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.ReportedBy.display"
            field="ReportedBy"
            label="ReportedBy"
            sortable
          >{{ props.row.ReportedBy }}</b-table-column>
          <b-table-column
            :visible="columnsVisible.Maintenance.display"
            field="Maintenance"
            label="Maintenance"
          >
            <div class="field is-grouped is-grouped-multiline">
              <div
                class="control"
                v-for="(task, i) in props.row.Maintenance"
                :key="i + task.DueDate"
              >
                <div class="tags has-addons">
                  <span class="tag is-dark">{{task.Task}}</span>
                  <span class="tag is-primary">{{ task.DueDate }}</span>
                </div>
              </div>
            </div>
          </b-table-column>
          <b-table-column
            :visible="columnsVisible.DueDate.display"
            field="DueDate"
            label="DueDate"
            sortable
          >{{ props.row.DueDate }}</b-table-column>
        </template>
      </b-table>
    </div>
  </section>
</template>



<script>
import data from "@/assets/WorkNotifications.json";
import { mapState } from "vuex";

export default {
  data() {
    return {
      tableData: data,
      perPage: 15,
      selected: data[0],
      columnsVisible: {
        Name: { title: "Name", display: true },
        NotificationType: { title: "NotificationType", display: true },
        FunctionalLocation: { title: "FunctionalLocation", display: true },
        NotificationStatus: { title: "NotificationStatus", display: true },
        Equipment: { title: "Equipment", display: true },
        WorkCenter: { title: "WorkCenter", display: false },
        Description: { title: "Description", display: false },
        ReportedBy: { title: "ReportedBy", display: true },
        Maintenance: { title: "Maintenance", display: false },
        DueDate: { title: "DueDate", display: true }
      }
    };
  },
  computed: {
    ...mapState({
      showTableSettings: state => state.user.showTableSettings
    })
  }
};
</script>
