<template>
  <aside class="menu">
    <!-- <p class="menu-label">Menu</p> -->
    <ul class="menu-list">
      <li v-for="(page, i) in pages" :data-index="i" :key="i + page.name">
        <router-link
          :to="page.to"
          tag="a"
          :class="{ 'is-active': page.isActive }"
          @click="activate(i)"
        >
          <i class="material-icons menu-icon">{{ page.icon }}</i>
          <span>{{ page.name }}</span>
        </router-link>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  data() {
    return {
      pages: [
        {
          name: "Dashboard",
          isActive: false,
          icon: "network_check",
          to: "/dashboard"
        },
        {
          name: "New Notification",
          isActive: false,
          icon: "alarm_add",
          to: "/new_notification"
        },
        {
          name: "Work Notifications",
          isActive: false,
          icon: "alarm",
          to: "/work_notifications"
        },
        {
          name: "Work Orders",
          isActive: false,
          icon: "build",
          to: "/work_orders"
        },
        {
          name: "Completion Confirmations",
          isActive: false,
          icon: "alarm_on",
          to: "/completion_confirmations"
        },
        {
          name: "Operations",
          isActive: false,
          icon: "data_usage",
          to: "/operations"
        },
        {
          name: "Knowledge",
          isActive: false,
          icon: "playlist_play",
          to: "/knowledge"
        },
        {
          name: "Spare Parts",
          isActive: false,
          icon: "work",
          to: "/spare-parts"
        },
        {
          name: "Malfunctions",
          isActive: false,
          icon: "error",
          to: "/malfunctions"
        },
        {
          name: "Maintenance",
          isActive: false,
          icon: "autorenew",
          to: "/maintenance"
        },
        {
          name: "Orders",
          isActive: false,
          icon: "card_travel",
          to: "/orders"
        },
        {
          name: "Structure",
          isActive: false,
          icon: "layers",
          to: "/structure"
        },
        {
          name: "Documentation",
          isActive: false,
          icon: "description",
          to: "/documentation"
        },
        {
          name: "Users",
          isActive: false,
          icon: "account_circle",
          to: "/users"
        }
      ]
    };
  },
  methods: {
    activate(i) {
      // console.log(`index ${i}`);
    }
  },
  watch: {
    $route(to, from) {
      // console.log(to.path);

      this.pages.forEach(p => {
        if (p.to === to.path) {
          p.isActive = true;
          return;
        }
        p.isActive = false;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@media screen and (min-width: 769px) {
  .menu-list li a > * {
    pointer-events: none;
  }

  .menu-list a {
    transition: all 0.3s;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0 300px 300px 0;
    width: 240px;
    /* padding: 0.7rem; */
    height: 40px;
  }

  .menu-list a,
  .menu-list i {
    color: #4e4e4e;
  }
  .menu-list a span {
    position: relative;
    bottom: 0.3rem;
  }

  .menu-list a.is-active,
  .menu-list a.is-active i {
    background-color: #f1f1f1;
    color: #43b320;
  }

  .menu-list a:hover {
    text-decoration: none;
  }

  .menu-icon {
    position: relative;
    top: 0.1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
</style>
