<template>
  <div class="level is-mobile topBar">
    <div class="level-left">
      <div id="logo" class="level-item">
        <img src="@/assets/img/logo.png" alt="logo" />
        <span style="display: inline-block">Škoda</span>
      </div>

      <div class="level-item is-hidden-mobile">
        <b-field id="find">
          <b-input placeholder="Search..." type="search" icon="search" v-model="search"></b-input>
        </b-field>
      </div>

      <div class="level-item is-hidden-mobile">
        <b-dropdown aria-role="list" id="dropdown-menu">
          <i
            slot="trigger"
            role="button"
            class="material-icons topButton is-hidden-mobile"
          >arrow_drop_down</i>

          <!-- <h3 class="subtitle is-5 has-text-centered">Search</h3> -->
          <div class="padding-15">
            <div class="columns">
              <div class="column">
                <b-field label="Name">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Age">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Company">
                  <b-input></b-input>
                </b-field>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <b-field label="E-mail">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Balance">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Active">
                  <b-input></b-input>
                </b-field>
              </div>
            </div>
          </div>
        </b-dropdown>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item is-hidden-tablet">
        <b-dropdown aria-role="list" id="dropdown-menu">
          <i slot="trigger" role="button" class="material-icons topButton">search</i>

          <h3 class="subtitle is-5 has-text-centered">Search</h3>
          <div class="padding-15">
            <div class="columns">
              <div class="column">
                <b-field label="Name">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Age">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Company">
                  <b-input></b-input>
                </b-field>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <b-field label="E-mail">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Balance">
                  <b-input></b-input>
                </b-field>
              </div>
              <div class="column">
                <b-field label="Active">
                  <b-input></b-input>
                </b-field>
              </div>
            </div>
          </div>

          <!-- <div class="buttons">
                        <button class="button is-success">Done</button>
          </div>-->
        </b-dropdown>
      </div>

      <div class="level-item is-hidden-mobile">
        <b-dropdown aria-role="list">
          <i slot="trigger" role="button" class="material-icons topButton">help_outline</i>

          <b-dropdown-item aria-role="listitem">Info 1</b-dropdown-item>
          <b-dropdown-item aria-role="listitem">Info 2</b-dropdown-item>
          <b-dropdown-item aria-role="listitem">Info else</b-dropdown-item>
        </b-dropdown>
      </div>

      <div class="level-item">
        <b-dropdown aria-role="list">
          <i slot="trigger" role="button" class="material-icons topButton">settings</i>

          <b-dropdown-item aria-role="listitem">Plant Mlada Boleslav</b-dropdown-item>
          <b-dropdown-item aria-role="listitem">Plant Brno</b-dropdown-item>
          <hr class="dropdown-divider" />
          <b-dropdown-item aria-role="listitem">
            <div class="field">
              <b-checkbox v-model="showTableSettings">Table Settings</b-checkbox>
            </div>
          </b-dropdown-item>
        </b-dropdown>
      </div>

      <div class="level-item is-hidden-mobile">
        <div class="whiteSpace" />
      </div>

      <div class="level-item is-hidden-mobile">
        <b-dropdown aria-role="list" position="is-bottom-left">
          <i slot="trigger" role="button" class="material-icons topButton">apps</i>

          <b-dropdown-item aria-role="listitem">App 1</b-dropdown-item>
          <b-dropdown-item aria-role="listitem">App 2</b-dropdown-item>
          <b-dropdown-item aria-role="listitem">App 3</b-dropdown-item>
        </b-dropdown>
      </div>

      <div class="level-item">
        <b-dropdown aria-role="list" position="is-bottom-left">
          <!-- <i slot="trigger" role="button" class="material-icons topButton">apps</i> -->
          <img
            slot="trigger"
            role="button"
            src="https://secure.gravatar.com/avatar/b10f7ddbf9b8be9e3c46c302bb20101d?s=400&d=mm&r=g"
            alt="user"
            class="profileButton"
          />

          <b-dropdown-item aria-role="listitem">Profile</b-dropdown-item>
          <b-dropdown-item aria-role="listitem">Account</b-dropdown-item>
          <b-dropdown-item aria-role="listitem">Personal</b-dropdown-item>
          <hr class="dropdown-divider" />
          <b-dropdown-item aria-role="listitem" @click="toggleLogin()">
            Logout
            <!-- <i class="material-icons topButton">exit_to_app</i> -->
          </b-dropdown-item>
        </b-dropdown>
      </div>

      <div class="level-item is-hidden-tablet">
        <b-dropdown aria-role="list">
          <i slot="trigger" role="button" class="material-icons topButton">menu</i>

          <b-dropdown-item
            aria-role="listitem"
            v-for="(page, i) in pages"
            :data-index="i"
            :key="i + page.name + 'top'"
            @click="routeTo(page.to)"
          >
            <!-- <router-link
              :to="page.to"
              tag="a"
              :class="{ 'is-active': page.isActive }"
              @click="activate(i)"
            >-->
            <i class="material-icons menu-icon">{{ page.icon }}</i>
            <span>{{ page.name }}</span>
            <!-- </router-link> -->
          </b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pages: [
        {
          name: "Dashboard",
          isActive: false,
          icon: "network_check",
          to: "/dashboard"
        },
        {
          name: "New Notification",
          isActive: false,
          icon: "alarm_add",
          to: "/new_notification"
        },
        {
          name: "Work Notifications",
          isActive: false,
          icon: "alarm",
          to: "/work_notifications"
        },
        {
          name: "Work Orders",
          isActive: false,
          icon: "build",
          to: "/work_orders"
        },
        {
          name: "Completion Confirmations",
          isActive: false,
          icon: "alarm_on",
          to: "/completion_confirmations"
        },
        {
          name: "Operations",
          isActive: false,
          icon: "data_usage",
          to: "/operations"
        },
        {
          name: "Knowledge",
          isActive: false,
          icon: "playlist_play",
          to: "/knowledge"
        },
        {
          name: "Spare Parts",
          isActive: false,
          icon: "work",
          to: "/spare-parts"
        },
        {
          name: "Malfunctions",
          isActive: false,
          icon: "error",
          to: "/malfunctions"
        },
        {
          name: "Maintenance",
          isActive: false,
          icon: "autorenew",
          to: "/maintenance"
        },
        {
          name: "Orders",
          isActive: false,
          icon: "card_travel",
          to: "/orders"
        },
        {
          name: "Structure",
          isActive: false,
          icon: "layers",
          to: "/structure"
        },
        {
          name: "Documentation",
          isActive: false,
          icon: "description",
          to: "/documentation"
        },
        {
          name: "Users",
          isActive: false,
          icon: "account_circle",
          to: "/users"
        }
      ]
    };
  },
  methods: {
    toggleLogin() {
      this.$store.dispatch("user/loginUser", !this.$store.state.user.isLogged);
      if (!this.$store.state.user.isLogged) {
        this.$router.push("/login");
      }
    },
    routeTo(page) {
      this.$router.push(page);
    }
  },
  computed: {
    search: {
      get() {
        return this.$store.state.search;
      },
      set(value) {
        this.$store.dispatch("setSearch", value);
      }
    },
    showTableSettings: {
      get() {
        return this.$store.state.user.showTableSettings;
      },
      set(value) {
        this.$store.dispatch("user/setShowTableSettings", value);
      }
    }
  }
};
</script>

<style lang="scss">
.level:not(:last-child) {
  margin-bottom: 0;
}

.topButton {
  padding: 0.4rem;
  transition: all 0.3s;
  color: #777;

  &:hover {
    cursor: pointer;
    background: #0000001f;
    border-radius: 50%;
    color: black;
  }
}

#logo {
  position: relative;
  left: 3rem;
  color: #5f6368;
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
}

#logo span {
  padding-left: 0.7rem;
}

.topBar {
  border-bottom: 1px solid #dadce0;
  padding: 8px;
}

.profileButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

i {
  color: #5f6368;
  font-size: 1.5rem;
}

.whiteSpace {
  width: 1rem;
}

#find {
  margin-left: 220px;
  width: 400px;

  & > input {
    // height: 3rem;
    background: #f1f3f4;
    border: 1px solid #f1f3f4;
    border-radius: 8px;
  }
}

.dropdownIcon {
  position: relative;
  top: 0.2rem;
  border: none;
  border-radius: 500px;
}

// MOBILE MENU
@media screen and (max-width: 768px) {
  .menu-list li {
    text-align: center;
    color: #444;
  }

  .menu-icon {
    margin-right: 0.6rem;
    position: relative;
    top: 0.4rem;
    color: #5bc53a;
  }
}
</style>
