<!-- Vue SFC -->
<template>
  <section class="section">
    <div class="container">
      <div id="tree">
        <treeselect v-model="value" :multiple="true" :options="options" />
      </div>
    </div>
  </section>
</template>

<script>
// import the component
import Treeselect from "@riophae/vue-treeselect";
// import the styles
import "@riophae/vue-treeselect/dist/vue-treeselect.css";

export default {
  // register the component
  components: { Treeselect },
  data() {
    return {
      // define default value
      value: null,
      // define options
      options: [
        {
          id: "1",
          label: "Skoda Octavia",
          children: [
            {
              id: "1a",
              label: "Octavia"
            },
            {
              id: "1b",
              label: "Octavia Combi"
            },
            {
              id: "1c",
              label: "Octavia Combi Tour"
            },
            {
              id: "1d",
              label: "Octavia Combi Touring Sport"
            }
          ]
        },
        {
          id: "2",
          label: "Skoda Superb",
          children: [
            {
              id: "2a",
              label: "Superb"
            },
            {
              id: "2b",
              label: "Superb Combi"
            }
          ]
        },
        {
          id: "3",
          label: "Skoda Fabia",
          children: [
            {
              id: "3a",
              label: "Fabia"
            },
            {
              id: "3b",
              label: "Fabia Combi"
            }
          ]
        },
        {
          id: "4",
          label: "Skoda Scala"
        },
        {
          id: "5",
          label: "Skoda Kamiq"
        }
      ]
    };
  }
};
</script>