<template>
  <div>
    <button class="button is-success" id="btnAdd">install</button>

    <div v-if="$store.state.user.isLogged">
      <TopBar />
      <div class="columns mainColumns">
        <div class="column is-narrow is-hidden-mobile">
          <Menu />
        </div>
        <div class="column" id="scrollOverflow">
          <transition name="fade" mode="out-in">
            <router-view />
          </transition>
        </div>
      </div>
    </div>
    <div v-else>
      <router-view />
    </div>
  </div>
</template>

<script>
import TopBar from "@/components/TopBar.vue";
import Menu from "@/components/Menu.vue";

export default {
  components: {
    TopBar,
    Menu
  },
  mounted() {
    let deferredPrompt;

    let btnAdd = document.getElementById("btnAdd");
    window.addEventListener("beforeinstallprompt", e => {
      // Prevent Chrome 67 and earlier from automatically showing the prompt
      e.preventDefault();
      // Stash the event so it can be triggered later.
      deferredPrompt = e;

      // Update UI notify the user they can add to home screen
      btnAdd.style.display = "block";
    });

    btnAdd.addEventListener("click", e => {
      // hide our user interface that shows our A2HS button
      btnAdd.style.display = "none";
      // Show the prompt
      deferredPrompt.prompt();
      // Wait for the user to respond to the prompt
      deferredPrompt.userChoice.then(choiceResult => {
        if (choiceResult.outcome === "accepted") {
          console.log("User accepted the A2HS prompt");
        } else {
          console.log("User dismissed the A2HS prompt");
        }
        deferredPrompt = null;
      });
    });
  }
};
</script>

<style lang="scss">
#btnAdd {
  display: none;
}

.table-settings {
  margin-bottom: 14px;
}

// FOR MOBILE VERSION
#scrollOverflow {
  padding: 0;
}

#scrollOverflow > section.section {
  padding: 0 12px !important;
}
// FOR MOBILE VERSION - END

@media screen and (min-width: 769px) {
  body::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  #scrollOverflow {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 57px);
    position: relative;
    bottom: 24px;
    padding-top: 23px;
    // padding: 0;
    // border: 1px solid red;
  }

  div#scrollOverflow.column {
    // padding: 0 !important;
  }

  #scrollOverflow::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
  }

  #scrollOverflow::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

  #scrollOverflow::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
  }

  #scrollOverflow::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  }
}

// sweetalert
.swal-footer {
  text-align: center;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #23d160;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.swal-button:not([disabled]):hover {
  background-color: #3bec79;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

// sweetalert END

.b-tabs .tab-content {
  padding-top: 0 !important;
}

.hide-tabs > .b-tabs > nav.tabs {
  display: none;
}

.mainColumns {
  //   padding: 0 !important;
  margin: 0 !important;
  height: calc(100vh - 100px);
  // border: 1px solid blue;
  width: 100vw;
}

.padding-15 {
  padding: 15px;
}

.margin-top-small {
  margin-top: 15px;
}

.table-settings {
  padding: 10px;
  background: #f7f7f7;
  border-radius: 5px;
}

// nprogress color
$nprogress-color: #23d160;
#nprogress {
  & .bar {
    background: $nprogress-color;
  }

  & .peg {
    box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color;
  }

  & .spinner-icon {
    border-top-color: $nprogress-color;
    border-left-color: $nprogress-color;
  }
}
// nprogress end

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #5bc53a;
$success: #2fa70a;
$danger: #e61919;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@media screen and (min-width: 1024px) {
  #dropdown-menu .dropdown-menu {
    position: absolute;
    width: 50vw;
    transform: translate(-412px, 0);
  }
}

@media screen and (max-width: 1023px) {
  .dropdown.is-mobile-modal .dropdown-menu {
    position: fixed;
    width: calc(100vw - 40px);
    max-width: 90vw;
    max-height: calc(100vh - 120px);
    top: 25% !important;
    left: 50% !important;
    bottom: auto !important;
    right: auto !important;
    -webkit-transform: translate3d(-50%, -25%, 0);
    transform: translate3d(-50%, -25%, 0);
    white-space: normal;
    overflow-y: auto;
    z-index: 50;
  }
}
</style>
