<template>
  <div class="margin-top-small">
    <img src="@/assets/img/factory.png" alt="factory" id="canvasImage" />

    <div class="columns is-multiline">
      <div class="column is-12">
        <canvas
          id="myCanvas"
          width="954"
          height="653"
        >Your browser does not support the HTML5 canvas tag.</canvas>
      </div>

      <div class="column is-6">
        <div class="field is-grouped">
          <p class="control">
            <button class="button is-danger" @click="deletePlaces()">clear & delete</button>
          </p>

          <p class="control">
            <button class="button is-warning" @click="clearCanvas()">clear</button>
          </p>

          <p class="control">
            <button class="button is-info" @click="drawAgain()">draw again</button>
          </p>
        </div>

        <ul>
          <li
            class="place"
            v-for="(place,i) in places"
            :key="place._id"
            @mouseover="highlight(place._id)"
          >
            <div class="level">
              <div class="level-left">{{ place._id }}. {{ place.name }}</div>
              <div class="level-right">
                <button class="infoButton">tasks</button>
                <button
                  class="deleteButton"
                  @click="(deletePlace(i))"
                  :title="'this will delete place ' + i"
                >x</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>


<script>
import Place from "./Place";

export default {
  data() {
    return {
      places: [],
      activePlace: null,
      firstCoordinates: null
    };
  },
  methods: {
    startRect(e) {
      this.firstCoordinates = {
        x: e.offsetX,
        y: e.offsetY
      };
    },

    makeRect(e) {
      const canvas = document.getElementById("myCanvas");
      const c = document.getElementById("myCanvas").getContext("2d");
      if (!this.firstCoordinates) {
        return;
      }

      const x1 = this.firstCoordinates.x;
      const y1 = this.firstCoordinates.y;
      const x2 = e.offsetX;
      const y2 = e.offsetY;

      const width = x2 - x1;
      const height = y2 - y1;

      let place = new Place(x1, y1, width, height, c);
      place.draw();
      this.places.push(place);
      this.firstCoordinates = null;
    },
    // drawImage() {
    //   const c = document.getElementById("myCanvas").getContext("2d");
    //   const img = document.getElementById("canvasImage");
    //   c.drawImage(img, 0, 0);
    // },
    clearCanvas() {
      const canvas = document.getElementById("myCanvas");
      const c = canvas.getContext("2d");
      c.clearRect(0, 0, canvas.width, canvas.height);
      // this.drawImage();
    },
    drawAgain() {
      this.clearCanvas();
      // this.drawImage();
      this.places.forEach(p => {
        p.draw();
      });
    },
    highlight(i) {
      this.clearCanvas();
      // this.drawImage();
      this.places.forEach(p => {
        if (p._id !== i) {
          p.draw();
        } else {
          p.highlight();
        }
      });
    },
    deletePlaces() {
      this.clearCanvas();
      this.places = [];
      Place.resetID();
    },
    deletePlace(i) {
      this.places.splice(i, 1);
      this.drawAgain();
    }
  },
  mounted() {
    const canvas = document.getElementById("myCanvas");
    const c = canvas.getContext("2d");
    Place.resetID();
    let place1 = new Place(21, 19, 252, 139, c);
    let place2 = new Place(337, 63, 155, 105, c);
    let place3 = new Place(515, 63, 39, 46, c);
    let place4 = new Place(598, 100, 79, 113, c);
    let place5 = new Place(696, 267, 93, 132, c);
    this.places = [place1, place2, place3, place4, place5];
    this.drawAgain();
    canvas.addEventListener("mousedown", this.startRect);
    canvas.addEventListener("mouseup", this.makeRect);
  }
};
</script>

<style lang="scss" scoped>
canvas {
  border: 1px solid rgb(243, 243, 243);
  border-radius: 4px;
  background-image: url("../../assets/img/factory.png");
}

.place {
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    background: rgb(229, 255, 200);
  }

  .deleteButton {
    cursor: pointer;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px solid rgb(206, 54, 54);
    background: #ff8484;
    color: rgb(95, 0, 0);
    transition: all 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.137);

    &:hover {
      border: 1px solid rgb(255, 24, 24);
      background: #ff9696;
      color: rgb(202, 0, 0);
      transform: translate(0px, 1px);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.062);
    }
  }

  .infoButton {
    cursor: pointer;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px solid #3673ce;
    background: #84ceff;
    color: #00395f;
    transition: all 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.137);

    &:hover {
      border: 1px solid #005ae2;
      background: #9ed8ff;
      color: #0065c4;
      transform: translate(0px, 1px);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.062);
    }
  }
}

#canvasImage {
  display: none;
}
</style>
