<template>
  <div id="thisTab" class="margin-top-small">
    <svg />
  </div>
</template>


<script>
import dataJson from "./data.json";
import * as d3 from "d3";
import { select, json, tree, hierarchy, linkHorizontal, zoom, event } from "d3";

export default {
  data() {
    return {
      // data: dataJson
    };
  },
  mounted() {
    (function(d3) {
      "use strict";

      const svg = d3.select("svg");
      const width =
        document.querySelector("section .tab-content").offsetWidth - 50;
      const height = 600;

      const margin = { top: 0, right: 50, bottom: 0, left: 75 };
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;

      const treeLayout = d3.tree().size([innerHeight, innerWidth]);

      const zoomG = svg
        .attr("width", width)
        .attr("height", height)
        .append("g");

      const g = zoomG
        .append("g")
        .attr("transform", `translate(${margin.left},${margin.top})`);

      svg.call(
        d3.zoom().on("zoom", () => {
          zoomG.attr("transform", d3.event.transform);
        })
      );

      let data = dataJson;
      const root = d3.hierarchy(data);
      const links = treeLayout(root).links();
      const linkPathGenerator = d3
        .linkHorizontal()
        .x(d => d.y)
        .y(d => d.x);

      g.selectAll("path")
        .data(links)
        .enter()
        .append("path")
        .attr("d", linkPathGenerator);

      g.selectAll("text")
        .data(root.descendants())
        .enter()
        .append("text")
        .attr("x", d => d.y)
        .attr("y", d => d.x)
        .attr("dy", "0.32em")
        .attr("text-anchor", d => (d.children ? "middle" : "start"))
        .attr("font-size", d => 3.15 - d.depth + "rem")
        .text(d => d.data.data.id);
    })(d3);
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
svg {
  background: transparent;
  border: 2px solid rgb(241, 241, 241);
}

path {
  fill: none;
  stroke: #5bc53a;
}

text {
  text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    1px 1px 3px white;
  padding: 2rem;
  pointer-events: none;
  font-family: "Playfair Display", serif;
}
</style>

